@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat:400,700');

body {
    font-family: 'Lato', sans-serif !important;
}

.title {
    font-family: 'Montserrat', sans-serif;
}

.text-center {
    text-align: center;
}

.mar-center {
    margin: 0 auto;
}

.mar-top {
    margin-top: 20px;
}